---
layout: default
exclude_from_search: true
---
<!-- This loops through the paginated posts -->

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
          Mehr
      </a>

    </article>
  {% endfor %}
</div>

<!-- Pagination links -->
<hr>
<div class="pagination"  style = "text-align: center;">
  {% if paginator.previous_page %}
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous" style="float:left;">&#8678; Previous</a>
  {% else %}
      <span class="previous" style="float:left;">&#8678; Previous</span>
  {% endif %}
      <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
      <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next" style="float:right;">Next &#8680;</a>
  {% else %}
      <span class="next " style="float:right;">Next &#8680;</span>
  {% endif %}
</div>